*.iml
.DS_Store
hs_err_pid*.log
*.salive
*.apk
*.aab

.gradle
.gradle-local/
.gradle-temp/
.kotlin/
/local.properties
local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/build
/captures
.externalNativeBuild
.cxx
benchmark-results/

app/build/
app/release/
wear/build/
wear/release/
shared/build/
baselineprofile/build/

misc.xml
markdown.xml
.vscode/
.agents/
